<form method="post">
    <label>Username</label>
    <input type="text" name="username"/>

    <label>Password</label>
    <input type="text" name="password"/>
    <button>
       Confirmar
    </button>
</form>
<h1>
    @ViewData["MENSAJE"]
</h1>